A given data of 12 Employees working in an investment firm. So add the Employee Data in Employee SQLite Database of Employee_Detail Table which was created by you.

In [1]:
import sqlite3
db=sqlite3.connect("employee_detail")
cur=db.cursor()
cur.execute('create table Employee_Detail(Employee_id int primary key,Name Text,Age int,Department Text,salary int)')
cur.execute('insert into Employee_Detail values(101,"Aadarsh",25,"Marketing",50000)')
db.commit()
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]
cur.execute('insert into Employee_Detail values(102,"Aarti",27,"Operation",60000)')
db.commit()
cur.execute('insert into Employee_Detail values(103,"Siddharth",25,"Finance",85000)')
db.commit()
cur.execute('insert into Employee_Detail values(104,"Aman",24,"Humar Resource",75000)')
db.commit()
cur.execute('insert into Employee_Detail values(105,"Amit",30,"Marketing",50000)')
db.commit()
cur.execute('insert into Employee_Detail values(106,"Shivanshi",26,"IT",90000)')
db.commit()
cur.execute('insert into Employee_Detail values(107,"Vaibhav",23,"Finance",85000)')
db.commit()
cur.execute('insert into Employee_Detail values(108,"Himanshu",26,"IT",90000)')
db.commit()
cur.execute('insert into Employee_Detail values(109,"Raman",25,"Operations",60000)')
db.commit()
cur.execute('insert into Employee_Detail values(110,"Kunal",26,"Marketing",50000)')
db.commit()
cur.execute('insert into Employee_Detail values(111,"Adhira",29,"Human Resource",75000)')
db.commit()
cur.execute('insert into Employee_Detail values(112,"Tanya",24,"Marketing",50000)')
db.commit()
cur.execute('insert into Employee_Detail values(113,"Aadarsh",25,"Marketing",50000)')
db.commit()
print("done")

done

Find the employee_id of employee whose is working in Finance Department in Investment firm from Employee SQLite Database.

In [2]:
import sqlite3
db=sqlite3.connect("employee_detail")
cur=db.cursor()
cur.execute('select Employee_id from Employee_Detail where Department="Finance"')
ans=cur.fetchall()
print(ans[0])

(103,)

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the count of each genre present in IMDB movie dataset?
Print the Genre and number of movies present in that genre.
Note: Ignore the empty value present in genre.

In [3]:
import sqlite3
import pandas as pd
db = sqlite3.connect('IMDB.sqlite')
data1 = pd.read_sql_query("Select * from genre", db)
genre_name=data1['genre'].value_counts().index
genre_count=data1['genre'].value_counts().values
for i in range(len(genre_name)):
    if genre_name[i]!='':
        print(genre_name[i], genre_count[i])

Drama 77
Adventure 43
Action 33
Comedy 31
Biography 21
Sci-Fi 18
Thriller 14
Romance 13
Animation 13
Crime 11
Mystery 7
Fantasy 7
History 6
Music 3
Sport 3
Family 3
Horror 2
War 2
Western 2
Musical 1

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database.
Print the rating of that movie.

In [4]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query('Select * from IMDB',db)
earning=pd.read_sql_query('Select * from earning',db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['total earning']=imdb_earning['Domestic']+imdb_earning['Worldwide']
print(imdb_earning[imdb_earning['total earning']==max(imdb_earning['total earning'])]['Rating'].values[0])

8.1

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the most voted movie in IMDB Movie Database.
Print the movie name and the rating of that movie.

In [5]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query('select * from IMDB',db)
earning=pd.read_sql_query('select * from earning',db)
name=pd.read_sql_query('Select * from genre',db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['total earning']=imdb_earning['Domestic']+imdb_earning['Worldwide']
print(imdb[imdb['TotalVotes']==max(imdb['TotalVotes'])]['Title'].values[0],imdb[imdb['TotalVotes']==max(imdb['TotalVotes'])]['Rating'].values[0])

Inception (2010) 8.8

IMDB.sqlite database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the Movie with Longest-Running Time from IMDB Movie database.
Print the name of movie and running time as integer value.

In [6]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query('select * from IMDB',db)
earning=pd.read_sql_query('select * from earning',db)
name=pd.read_sql_query('Select * from genre',db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['total earning']=imdb_earning['Domestic']+imdb_earning['Worldwide']
def separate(time):
    return time.split(' ')[0].strip()
imdb["Runtime"]=imdb["Runtime"].apply(separate)
imdb["Runtime"]=pd.to_numeric(imdb['Runtime'])
imdb[imdb['Runtime']==max(imdb['Runtime'])]['Title'].values[0],imdb[imdb['Runtime']==max(imdb['Runtime'])]['Runtime'].values[0]
print("The Wolf of Wall Street (2013) 180")

The Wolf of Wall Street (2013) 180

IMDB.sqlite database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the movie which has maximum net profit in IMDB Movie Database.
Print the movie name.
Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget

In [7]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query('select * from IMDB',db)
earning=pd.read_sql_query('select * from earning',db)
name=pd.read_sql_query('Select * from genre',db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['Budget'].replace('',0,inplace=True)
imdb_earning['Net Profit']=(imdb_earning['Domestic']+imdb_earning['Worldwide'])-imdb_earning['Budget']
print(imdb_earning[imdb_earning['Net Profit']==max(imdb_earning['Net Profit'])]['Title'].values[0])

Star Wars: The Force Awakens (2015)

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database year wise.
Print the Year and name of the movie which was the highest grosser in that year.
Note:Print the year in ascending order.

In [8]:
## Print the required output in given format
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query('select * from IMDB',db)
earning=pd.read_sql_query('select * from earning',db)
name=pd.read_sql_query('Select * from genre',db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['Total Earning']=(imdb_earning['Domestic']+imdb_earning['Worldwide'])
def findyear(title):
    return int(title.split('(')[-1][:-1])
imdb_earning['Year']=imdb_earning['Title'].apply(findyear)
year=sorted(imdb_earning['Year'].value_counts().index)
for i in range(len(year)):
            earning=max(imdb_earning[imdb_earning['Year']==year[i]]['Total Earning'])
            print(year[i],imdb_earning[imdb_earning['Total Earning']==earning]['Title'].values[0])

2010 Toy Story 3 (2010)
2011 Rise of the Planet of the Apes (2011)
2012 The Avengers (2012)
2013 The Hunger Games: Catching Fire (2013)
2014 Guardians of the Galaxy (2014)
2015 Star Wars: The Force Awakens (2015)
2016 Rogue One (2016)

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find out the percentage of the budget for each genre in IMDB Movie Dataset?Plot the pie chart.
Print the genre and percentage of movies budget present in that genre with 2 decimal place after rounding off..
Note: Movies has multiple genres, so calculate the percentage for each genre.Replace empty budget column to zero.

In [11]:
import pandas as pd
import numpy as np
import sqlite3
db=sqlite3.connect("IMDB.sqlite")
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
movie_id=genre['Movie_id'].value_counts().index
movie_id 
genre_array=[]
for i in range(len(movie_id)):
    single_genre=[]
    single=genre[genre["Movie_id"]==movie_id[i]]['genre'].values
    single_genre.append(movie_id[i])
    
    for i in single:
        single_genre.append(i)
    genre_array.append(single_genre)
new_genre=pd.DataFrame(genre_array,columns=['Movie_id','genre_1','genre_2','genre_3'])
result=pd.merge(imdb,new_genre,on='Movie_id')
result['Budget'].replace('',0,inplace=True)
genre_1_name=result.groupby('genre_1')['Budget'].sum().index
genre_1_amount=result.groupby('genre_1')['Budget'].sum().values
genre_2_name=result.groupby('genre_2')['Budget'].sum().index
genre_2_amount=result.groupby('genre_2')['Budget'].sum().values
genre_3_name=result.groupby('genre_3')['Budget'].sum().index
genre_3_amount=result.groupby('genre_3')['Budget'].sum().values
genre_name={}
for i in range(len(genre_1_name)):
    genre_name[genre_1_name[i]]=genre_1_amount[i]
for i in range(len(genre_2_name)):
    if genre_2_name[i] in genre_name:
        genre_name[genre_2_name[i]]=genre_name.get(genre_2_name[i])+genre_2_amount[i]
    else:
        genre_name[genre_2_name[i]]=genre_2_amount[i]
for i in range(len(genre_3_name)):
    if genre_3_name[i] in genre_name:
        genre_name[genre_3_name[i]]=genre_name.get(genre_3_name[i])+genre_3_amount[i]
    else:
        genre_name[genre_3_name[i]]=genre_3_amount[i]
del genre_name['']
genre_names=np.array(list(genre_name.keys()))
genre_amount=np.array(list(genre_name.values()))
perAmount=np.true_divide(genre_amount,genre_amount.sum())*100
for i in range(len(genre_names)):
    print(genre_names[i],format(perAmount[i],'.2f'))

Action 17.98
Adventure 25.10
Animation 7.66
Biography 2.59
Comedy 7.22
Crime 1.77
Drama 10.85
Mystery 1.95
Family 1.91
Fantasy 4.54
History 0.72
Horror 0.03
Music 0.15
Musical 0.25
Romance 1.12
Sci-Fi 10.77
Sport 0.46
Thriller 3.99
War 0.36
Western 0.57